:root {
    --purple: #3772FF;
    --yellow: #FDCA40;
    --red: #DF2935;
    --black: #080708;
    --white: #fff;
}

html {
    font-family: 'Proxima Nova', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: var(--purple);
    color: var(--white);
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

li, ul {
    list-style: none;
}